/*
 * CSS reset based on:
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

:root {
  /* Font */
  --font-inter: 'Inter', sans-serif;
  --font-regular: 400;
  --font-semibold: 600;
  --font-extrabold: 800;
  --font-base: 16px;
  --font-xs: 0.75rem;
  --font-sm: 1.125rem;
  --font-md: 1.25rem;
  --font-lg: 1.5rem;
  --font-xl: 2rem;

  /* Base Colors */
  --base-gray: 212, 6%;

  --white: var(--base-gray), 100%;
  --black: var(--base-gray), 0%;

  /* Gray color palette */
  --gray-10: var(--base-gray), 10%;
  --gray-20: var(--base-gray), 20%;
  --gray-30: var(--base-gray), 30%;
  --gray-40: var(--base-gray), 40%;
  --gray-50: var(--base-gray), 50%;
  --gray-60: var(--base-gray), 60%;
  --gray-70: var(--base-gray), 70%;
  --gray-80: var(--base-gray), 80%;
  --gray-90: var(--base-gray), 90%;

  /* Light theme colors */
  --bg: hsla(var(--white), 100%);
  --fg-primary: hsla(var(--gray-40), 100%);
  --fg-secondary: hsla(var(--black), 100%);
  --header-border: hsla(var(--gray-90), 100%);
  --header-link-active-bg: hsla(var(--gray-90), 100%);
}

[data-theme='dark'] {
  --bg: hsla(var(--gray-10), 100%);
  --fg-primary: hsla(var(--gray-70), 100%);
  --fg-secondary: hsla(var(--white), 100%);
  --header-border: hsla(var(--gray-20), 100%);
  --header-link-active-bg: hsla(var(--gray-20), 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-inter);
  font-size: var(--font-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  color: var(--fg-primary);
}

section {
  padding: 2rem 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-extrabold);
  color: var(--fg-secondary);
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-md);
}

h4,
h5,
h6 {
  font-size: var(--font-sm);
}

a {
  color: inherit;
  text-decoration: none;
}
